/* 超出一行隐藏 */
@mixin text-overflow() {
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

/* 超出多行隐藏 */
@mixin multi-text-overflow($n) {
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

/* 载入倍图 */
@mixin bg($url) {
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../assets/img/"+$url+"@2x.png");
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url("../../assets/img/"+$url+"@3x.png");
  }
}

/* 0.5px 边框，支持 square */
@mixin br($color: black, $square: false) {
  position: relative;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    @if $square == true {
      width: 200%;
      height: 200%;
      border: 1px solid $color;
      transform-origin: 0 0;
      transform: scale(0.5);
    } @else {
      width: 100%;
      border-top: 1px solid $color;
      transform-origin: 0 0;
      transform: scaleY(0.5);
    }
  }
}
